.content {
    background-color: #F9FAFB;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 18px;
}

.phone_book_icon {
    content: url('../../../Assets/phone_book.png');
}

.main_title {
    font-size: 30px;
}

.title {
    color: #4B5563;
    font-size: 18px;
    margin-top: 4px;
}

.login_form {
    width: 100%;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input_container {
    margin-top: 16px;
}

.input_field {
    margin-top: 12px;
    width: 400px;
    height: 40px;
    border: 1px solid #D1D5DA;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 16px;
}

.body_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forgot_password {
    display: flex;
    align-items: center;
}

.signin_button {
    width: 400px;
    height: 40px;
    margin-top: 20px;
    cursor: pointer;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    border: none
}

.sign_up_text {
    margin-top: 20px;
    display: flex;
}

.error_message {
    font-size: 14px;
    color: red;
    margin-top: 4px;
}